@font-face {
    font-family: 'Pallada';
    src: url('../fonts/Pallada-Regular.woff2') format('woff2'),
        url('../fonts/Pallada-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PalladaBold';
    src: url('../fonts/PalladaBold-Regular.woff2') format('woff2'),
        url('../fonts/PalladaBold-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}