.header {
    padding-top: 8px;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // height: 100vh;
    aspect-ratio: 1400/756;
    @media (max-width: 768px){
          padding-bottom: 50px;
          
    }
    // .header__container

    &__container {}

    // .header__flex

    &__flex {
        display: flex;
        justify-content: space-between;
       @media (max-width:850px){
          justify-content: stretch;
       }
       @media (max-width:768px){
        justify-content: space-between;
        align-items: center;
       }
    }

    // .header__block-logo

    &__block-logo {
     
        display: flex;
      
        img{
            max-height: 140px;
            max-width: 100%;
            
        }
        @media (max-width:768px){
            img{
                max-height: 100px;
                max-width: 100px;
                
            }
        }
    }

    

    // .header__block-langueg

    &__block-langueg {
        display: flex;
        justify-content: flex-end;
        gap: 2px;
        @media (max-width:768px){
              display: block;
              margin: 0 auto;
        }
        .header__ru,
        .header__en  {
            font-family: 'PalladaBold';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        width: 36px;
        height: 24px;
        border-radius: 24px;
        background-color: transparent;
        transition: all 0.3s ease 0s;
        color: var(--white);
        &:hover{
            background-color: var(--green);
        }
        }

    }

    // .header__ru

    &__ru {
        
    }

    // .header__en

    &__en {
        
    }

    // .header__menu

    &__menu {
     
        @media (max-width:768px){
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background-color: rgba(0, 0, 0, 0);
            transition: all 0.3s ease 0s;
            z-index: 5;
            &.active{
                pointer-events: all;
                background: #000000BF;


                
            }
        }
    }
}

.header {

    // .header__body

    &__body {
        margin-top: 300px;
        @media (max-width:1130px){
              margin-top: 200px;
        }
        @media (max-width:992px){
              margin-top: 150px;
        }
        @media (max-width:768px){
              margin-top: 80px;
        }

    }

    // .header__titel

    &__titel {
        color: var(--white);
        font-family: 'PalladaBold';
        font-size: 55px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        column-gap: 20px;
        margin-bottom: 34px;
        @media (max-width:992px){
              font-size: 45px;
        }
        @media (max-width:768px){
              font-size: 30px;
        }
        &::before{
            content:'';
            flex: 0 0 auto;
            width: 24px;
            height: 24px;
            background-color: var(--white);
            border-radius: 50%;
            
        }
    }
  

    // .header__item-link

    &__item-link {
        color: var(--white);
    }

		// .header__breadcrumbs

		&__breadcrumbs {
        font-family: 'PalladaBold';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
        text-transform: uppercase;
        display: flex;
        column-gap: 20px;
            ul {
                display: flex;
                gap: 21px;
                li{
                    position: relative;                  
                    &:nth-child(1){
                        &::after{
                            content:'';
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: -12px;
                            background-image: url('/img/Union.svg');
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            width: 3px;
                            height: 6px;
                            
                        }
                    }
                    &.active{
                        text-decoration: underline;

                        color: var(--white);
                    }
                }
            }
        }   


}



.menu {

    // .menu__body

    &__body {
        @media (max-width:768px){
            position: absolute;
            top: 0px;
            right:-100%;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column-reverse;
            background-color: rgba(0, 0, 0, 0.774);
            justify-content: flex-end;
            padding-top: 120px;
            transition: all 0.5s ease 0s;
            
             &.active{
                right: 0;
             }
        }
        @media (max-width:450px){
              width: 65%;
        }
       
    }

    // .menu__list

    &__list {
        margin-top: 35px;
        display: flex;
        column-gap: 15px;
        
        @media (max-width:992px){
           margin-top: 20px;
           column-gap: 10px;
            flex-wrap: wrap;
            justify-content: flex-end;
            row-gap: 10px;
        }
       @media (max-width:768px){
          display: block;
         
            margin: 0 auto;
            text-align: center;
       }
        
       
     
    }

    // .menu__item

    &__item {
        
        font-family: 'PalladaBold';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        @media (max-width:768px){
            margin-bottom: 20px;
        }
    }

    // .menu__link

    &__link {
            color: var(--white);

    }
}

	



	
	
	

	
	
			
	
	
	








//Burger

// .header__icon
// &__icon {
//     display: none;
//     @media (max-width:768px){
//        display: block;
//        position: relative;
//        width: 26px;
//        height: 20px; 
//        left: 90%; 
//        top: 30px;           
//        z-index: 10;     
      
                        
       
//        span{
//          position: absolute;
//          width: 20px;
//          height: 2px;
//          background-color: white;
//          left: 0;
//          top: 8px;
//          transition: all 0.3s ease 0s;
         
//        }
//        &::before,&::after{
//          content:'';
//          position: absolute;
//          width: 100%;
//          height: 2px;
//          background-color: white;
//          left: 0;
//          z-index: 20;
//          transition: all 0.3s ease 0s;
         
//        }
//        &::before{
//          top: 0;
         
//        }
//        &::after{
//          bottom: 2px;
//          width: 15px;
//        }

//        &._active {
             
         
//              &::before{
//                  transform:rotate(45deg);
//                  top: 50%;
                 
                 
//                } 
//                &::after{
//                  transform:rotate(-45deg);
//                  top: 50%;
//                  width: 100%;
                 
//                } 
//                span{
//                  transform: scale(0);
                 
//                }
         
//          }
       
//     }
//  }


//Burger
// Стрелочка
.icon-menu{
    display: none;
    @media (max-width:768px){
       display: flex;
       position: relative;
       width: 50px;
       height: 40px; 
       right: 0px; 
       top: 0px;           
       z-index: 10;        
       align-items: center;
       justify-content: center;
       background-color: transparent;
       span{
         position: relative;
         width: 50%;
         height: 2px;       
         background-color: #fff;
         border-radius: 10px;
        
         &::before,&::after{
            content:'';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: white;                      
            top: 0;
            left: 0;
            transition: all 0.3s ease 0s;
            background-color: #fff;
            
            
          }
          &::before{
             transform: translateY(-6px); 
          }
          &::after{
            transform: translateY(6px);
           
          } 
         
        
       }
              
       &.active {           
                     
               span{
                 height: 0px;
                 &::before{                   
                    transform:rotate(-45deg);   
                     
                           
                  } 
                  &::after{
                    transform:rotate(45deg);
                  
                     
                  } 
               }
         
         }
       
    }
 }


