//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
@import url("https://fonts.googleapis.com/css?family=Inter:500,700&display=swap&subset=cyrillic-ext");


//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "header";
@import "home";
@import "footer";
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

//===========================
:root {
	--white: #fff;
	--green: #047D1D;
	--black: #000;
	--light:#D2D2D2;
	--dark-grey: #303030;
  }

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

  .wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
	
  }

.page {
  padding: 0px 0px 0px 0px;
	flex: 1 1 auto;
}

.lock {
	overflow: hidden;
}
//<Адаптив сетка>===========================================================================================================

._container {
	max-width: 1160px;
	margin: 0px auto;
	padding: 0px 10px 0px 10px;
	@media (max-width: 1130px) {
		max-width: 950px;
	}
	@media (max-width: 992px) {
		max-width: 750px;
	}
	@media (max-width: 768px) {
		max-width: none;
		padding: 0px 10px;
	}
}
//======================
// ======= вешаем hover на псевдоэлемент=======
// &::after{
// 	content:'';
// 	height: 1px;
// 	max-width: 384px;
// 	background-color: #1344C0;             
// 	opacity: 0;
// 	display: block;
// 	margin: 10px 0px 0px 0px;
   
					   
// } 

// &:hover{
				
// &::after {
// 	content: '';
// 	opacity: 1;
// 	transition: all 0.8s ease 0.1s;
	
// }
			
// }
  

